@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* code reset */
    *{
        @apply m-0 p-0 box-border; 
    }
    img{
        @apply w-full h-full object-cover;
    }

    body{
        @apply w-full min-h-screen font-self capitalize bg-white not-italic font-normal !important;
    }
    main{
        @apply 3xs:w-full md:w-10/12 h-auto mx-auto flex items-center justify-center flex-wrap;
    }
    h1{
        @apply 3xs:font-black xs:font-extrabold md:font-bold  3xs:text-sm 2xs:text-base xs:text-xl sm:text-3xl md:text-4xl
        leading-[3.75rem] text-center;
    }
    h2{
        @apply 3xs:text-xs 2xs:text-sm xs:text-lg sm:text-xl md:text-2xl lg:text-4xl 3xs:font-semibold md:font-bold leading-10 text-center;
    }

    h3{
        @apply 3xs:text-xs 2xs:text-sm xs:text-lg lg:text-xl xl:text-3xl font-bold leading-9;
    }

    h4{
        @apply 3xs:text-xs sm:text-sm md:text-lg lg:text-xl text-xl font-semibold leading-6;
    }

    h5, h6{
        @apply 3xs:text-xs sm:text-sm lg:text-base font-bold leading-5;
    }
    p{
        @apply font-serif 3xs:font-light lg:font-medium leading-7 3xs:text-xs md:text-sm lg:text-lg !important;
    }
    span{
        @apply 3xs:text-xs sm:text-sm lg:text-base leading-5 font-normal;
    }
    section, header, footer {
        @apply w-full h-auto flex flex-col items-center justify-center;
    }
}


@layer components {
    .country{
        @apply 3xs:text-xs sm:text-sm lg:text-base leading-5 not-italic font-normal opacity-50;
    }
    .nav-link{
        @apply text-base font-normal leading-5;
    }
    .btn-div{
        @apply flex items-center justify-center border border-[#E7FE29] mx-auto my-2 p-1.5 rounded-2xl ;
    }
    .footer-title{
        @apply text-slate-200/95 font-semibold;
    }
    .footer-PG{
        @apply text-white/35 mt-5 text-base pr-7 !important;
    }

    .fixed-top{
        @apply fixed 3xs:w-full md:w-10/12 left-1/2 top-0 -translate-x-1/2 z-30  delay-150 bg-zinc-50 rounded-md shadow-xl !important;
    }
}

@layer utilities {
    .btn{
        @apply px-3 py-3 capitalize text-base font-bold leading-5 font-self bg-[#E7FE29] rounded-xl border border-[#E7FE29] shadow-sm shadow-transparent inset-0 ; 
    }
}

